$primary-color: #7c4dff;
$light-color: #b47cff;
$dark-color: #3f1dcb;
body {
    font-family: 'Roboto', sans-serif;
}

.s-font {
    font-family: 'Montserrat', sans-serif;
}

.primary-bg {
    background: $primary-color;
}

.my-navbar {
    background: $dark-color;
    .navbar-nav {
        .nav-link {
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 1.2rem;
        }
    }
}

.separator {
    height: 1px;
    background: white;
}

.skill-box {
    .img-wrapper {
        width: 90px;
        height: 90px;
        margin: auto;
    }
}

.star-background {
    position: relative;
    .star-title {
        color: white;
        width: 100%;
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        .name {
            font-size: 4.5rem;
        }
        .title {
            font-size: 1.5rem;
        }
        .avatar {
            .img-avatar {
                border-radius: 50%;
                border: 4px solid white;
                width: 168px;
            }
        }
    }
}

.my-section {
    padding: 100px 0;
    .title {
        text-align: center;
    }
    &.primary-bg {
        .title {
            color: white;
        }
    }
}

.primary-hvr.hvr-ripple-out:before {
    border: $primary-color solid 6px;
}

.info-name {
    font-size: 2.5rem;
    color: $primary-color;
}

.primary {
    border: $primary-color solid 6px;
}

.primary-color {
    color: $primary-color
}

.card-box {
    background: white;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
        .info-card {
            color: white;
            .bg-img {
                opacity: 1;
            }
        }
        background: $primary-color;
    }
}

.shadow-box-1 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.info-card {
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    height: 250px;
    .bg-img {
        transition: all 0.5s;
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

// Responsive
@media only screen and (max-width: 768px) {
    .skill-box{
        width: 100%;
    }
}